.node-przewodnik .field-name-field-image-guide {
  width: 220px;
  display: inline-block;
  top: 100px;
  position: absolute;
  margin-left: 30px;
}

.node-przewodnik .field-name-body {
  width: 410px;
  display: inline-block;
}

#main-menu-links a {
  background: none;
  font-size: 17px;
}

#main-menu-links a:hover,
#main-menu-links li a.active {
  background: none;
  text-decoration: underline;
}

#header {
  background: url('../images/chmury.jpg');
  background-position: center;
  background-size: cover;
}

#footer-wrapper {
  background: url('../images/footer.png');
  background-position: center;
  background-size: cover;
}

#footer {
  border: none;
  margin-top: 0;
}

#footer .region {
  margin-top: 0;
}